<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsy.dao.system.dict.LocationDao">
    <select id="getLocations" resultType="com.lsy.entity.system.SysDict">
        SELECT
            s1.dictId,
            s1.DictName,
            s2.DictName fatherLocal,
            s1.lng,
            s1.lat,
            s1.DictType
        FROM
	      sys_dict s1
        LEFT JOIN sys_dict s2 ON s1.pid = s2.DictID
        WHERE
            s1.DictType = 'building'
        AND s2.DictType = 'buildingarea'
        limit #{begin},#{rows}
    </select>
    <select id="getCounts" resultType="integer">
         SELECT
            count(s1.dictId)
        FROM
	      sys_dict s1
        LEFT JOIN sys_dict s2 ON s1.pid = s2.DictID
        WHERE
            s1.DictType = 'building'
        AND s2.DictType = 'buildingarea'
    </select>
    <insert id="addLocation" >
        insert into sys_dict(
			DictType,
			DictID,
			DictName,
			IsEnable,
			IsMain,
			CreateDate,
			CreateBy,
			lng,
			lat,
			pid
			)values(
			#{dictType},
			#{dictID},
			#{dictName},
			"1",
			#{isMain},
			#{createDate},
			#{createBy},
			#{lng},
			#{lat},
			#{pid}
			)
    </insert>
    <select id="getFatherLocation" resultType="com.lsy.entity.system.SysDict">
        SELECT * FROM sys_dict
        WHERE DictType = 'buildingArea'
    </select>
    <select id="queryLocationByName" resultType="java.lang.Integer">
        SELECT count(*) from sys_dict WHERE DictName = #{dictName} and dictID != #{dictID}
    </select>
    <select id="queryMaxIdFather" resultType="java.lang.String">
        SELECT MAX(DictID) from sys_dict WHERE DictType = 'buildingArea'
    </select>
    <select id="queryMaxIdChild" resultType="java.lang.String">
         SELECT MAX(DictID) id from sys_dict WHERE DictType = 'building'
    </select>
    <select id="queryLocationByLngLat" resultType="java.lang.Integer">
        SELECT COUNT(DictID) from sys_dict WHERE lng = #{lng} and lat = #{lat} and dictid !=#{dictID}
    </select>

    <select id="getLocationById" resultType="com.lsy.entity.system.SysDict">
        SELECT * from sys_dict WHERE DictID = #{dictID}
    </select>

    <update id="updateLocation" >
        update sys_dict
        <set>
            <if test="dictName!=null">
                DictName = #{dictName},
            </if>
            <if test="lng!=null">
                lng = #{lng},
            </if>
            <if test="lat!=null">
                lat = #{lat},
            </if>
            <if test="pid!=null">
                pid = #{pid},
            </if>
            <if test="modifyBy!=null">
                ModifyBy = #{modifyBy},
            </if>
            <if test="modifyDate!=null">
                ModifyDate = #{modifyDate}
            </if>
        </set>
        where DictID=#{dictID} and  DictType='Building'
    </update>
</mapper>