<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsy.dao.system.user.UserDao">
    <sql id="findUserSql">
        <if test="empName!=null and empName !=''">
            AND empName LIKE '%${empName}%'
        </if>
        <if test="stuEmpno!=null and stuEmpno!=''">
            AND stuEmpno = #{stuEmpno}
        </if>
    </sql>
    <select id="getUsers"  resultType="com.lsy.entity.system.User">
        SELECT * from user_table
        <where>
            <include refid="findUserSql"></include>
        </where>
        order by #{order}
        limit #{begin},#{rows}
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user_table
        <where>
            <include refid="findUserSql"></include>
        </where>
    </select>

    <select id="getUserByEmpno" resultType="java.lang.Integer">
        select count(*) from user_table where StuEmpno = #{stuempno}
    </select>

    <insert id="addUser">
        INSERT into user_table(stuEmpno,empName,passWord,webchat,email,tel,isEnable) VALUES
        (#{stuEmpno},#{empName},#{passWord},#{webchat},#{email},#{tel},#{isEnable})
    </insert>
    <select id="queryUserByStuEmpno" resultType="com.lsy.entity.system.User">
        select * from user_table where StuEmpno = #{stuEmpno}
    </select>
    <update id="updateUser">
        update user_table
        <set>
            <if test="empName!=null or empName !=''" >
                EmpName = #{empName},
            </if>
            <if test="passWord!=null or passWord !=''" >
                passWord = #{passWord},
            </if>
            <if test="webchat!=null or webchat !=''" >
                webchat = #{webchat},
            </if>
            <if test="email!=null or email !=''" >
                email = #{email},
            </if>
            <if test="tel!=null or tel !=''" >
                tel = #{tel},
            </if>
            <if test="isEnable!=null or isEnable !=''" >
                isEnable = #{isEnable},
            </if>
        </set>
        where stuEmpno = #{stuEmpno}
    </update>
    <delete id="deleteUser">
        delete from user_table where
        StuEmpno = #{stuEmpno}
    </delete>
</mapper>